<div class="container exclusive-offers">
    <p class="h2 text-center">Exclusive Offers</p>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <img src="https://img.freepik.com/free-vector/flat-vertical-poster-template-world-environment-day-celebration_23-2150355300.jpg" class="card-img-top" alt="Exclusive Offer 1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://img.freepik.com/free-vector/seasonal-deal-buy-one-get-one-free-yellow-background-design_1017-51154.jpg" class="card-img-top" alt="Exclusive Offer 2">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://img.freepik.com/premium-photo/happy-diwali-festivals-special-sale-offer-greeting-card-illustration_1225600-1489.jpg" class="card-img-top" alt="Exclusive Offer 3">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row text-center my-4 py-4 feature-section justify-content-around">
      <div class="col-md-2">
        <h5 class="mt-3" style="color: #FF5733;">300+ Brands</h5> 
      </div>
      <div class="col-md-2">
        <h5 class="mt-3" style="color: #28a745;">20M+ Happy Farmers</h5> 
      </div>
      <div class="col-md-2">
        <h5 class="mt-3" style="color: orange;">5K+ Farms</h5> 
      </div>
      <div class="col-md-2">
        <h5 class="mt-3" style="color: black">15K+ Pincodes Delivered</h5> 
      </div>
    </div>
  </div>
  
  <hr>
  